/* Establece el color de fondo de la página en un tono verde */
body {
    font-family: Arial, sans-serif;
    background-color: #c8dbb8; /* Verde suave */
    margin: 0;
    padding: 0;
    color: #333;
}

/* Cabecera con logo */
header {
    background-color: #2e3b4e;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-container img {
    height: 60px; /* Tamaño ajustable del logo */
}

.logo-container h1 {
    margin: 0;
    font-size: 2em;
}

/* Estilos para el logo en todas las páginas */
.logo {
    display: block;
    margin: 0 auto;
    max-width: 50px; /* Ajusta el tamaño según sea necesario */
    padding: 10px;
}

/* Estilos del menú de navegación con iconos de banderas */

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
}

nav ul li img {
    display: block;
    width: 30px;  /* Ajusta el tamaño de las banderas */
    height: 30px;
    border-radius: 50%;  /* Hace las imágenes redondas */
    margin-right: 8px;
    border: 1px solid white;
}


nav ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sección con fondo semitransparente */
section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

/* Estilos para el reproductor de audio */
audio {
    width: 100%;
    margin-top: 10px;
}

/* Pie de página */
footer {
    background-color: #2e3b4e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

